<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="urbanairship-gimbal-sdk-cordova"
    version="3.0.1">

    <name>Gimbal Plugin</name>
    <description>Cordova plugin to install the Gimbal SDK</description>
    <license>Apache 2.0</license>
    <keywords>gimbal,cordova,urbanairship</keywords>
    <repo>https://github.com/urbanairship/cordova-gimbal</repo>
    
    <engines>
        <engine name="cordova" version=">=5.4.0" />
        <engine name="cordova-plugman" version=">=4.2.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">

        <!-- Set Usage Description to an empty string -->
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string></string>
        </config-file>

        <!-- Gimbal framework -->
        <framework src="src/ios/Gimbal.framework" custom="true" />
      
        <!-- system frameworks -->
        <framework src="CoreLocation.framework" />
        <framework src="libz.dylib" />
    </platform>
    
    <!-- android -->
    <platform name="android">
		<!-- Gimbal framework -->
		<framework src="src/android/gimbal.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>